mixin coupon-gallery(title, color)
  .coupon-gallery
    h2.coupon-gallery__title=title
    .coupon-gallery__inner

      -
        var title1 = "Скидка до 50% на первое посещение бассейна"
        var title2 = "Скидка до 30% на первое посещение бассейна"
        var sale1 = "50%"
        var sale2 = "30%"
        var price1 = "400 руб."
        var price2 = "Бесплатно!"

        var category1 = "Фитнес-центры"
        var category2 = "Фитнес-центры"
        var dealer1 = "Frendi"
        var dealer2 = "Frendi"
        var place1 = "Аквапарк «Родео Драйв»"
        var place2 = "Аквапарк «Родео Драйв»"


      if (!color)
        .coupon-gallery__card.card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="#" title=title1)=title1

          .card__meta
            a.card__category.card__category--in-category(href="#" title=category1)=category1
            a.card__dealer.card__dealer--in-category(href="#" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place.card__place--in-category(href="#" title=place1)=place1

      if (color)
        .coupon-gallery__card.card.card--gray-img
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="#" title=title1)=title1

          .card__meta
            a.card__category.card__category--in-site(href="#" title=category1)=category1
            a.card__dealer.card__dealer--in-site(href="#" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place.card__place--in-site(href="#" title=place1)=place1


      if (!color)
        .coupon-gallery__card.card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="#" title=title1)=title1

          .card__meta
            a.card__category.card__category--in-category(href="#" title=category1)=category1
            a.card__dealer.card__dealer--in-category(href="#" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place.card__place--in-category(href="#" title=place1)=place1

      if (color)
        .coupon-gallery__card.card.card--gray-img
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title2)

          span.card__sale до&nbsp;
            span=sale2
          span.card__price.card__price--green от&nbsp;
            span=price2

          a.card__link(href="#" title=title2)=title2

          .card__meta
            a.card__category.card__category--in-site(href="#" title=category2)=category2
            a.card__dealer.card__dealer--in-site(href="#" title=dealer2)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer2
            a.card__place.card__place--in-site(href="#" title=place2)=place2


      if (!color)
        .coupon-gallery__card.card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="#" title=title1)=title1

          .card__meta
            a.card__category.card__category--in-category(href="#" title=category1)=category1
            a.card__dealer.card__dealer--in-category(href="#" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place.card__place--in-category(href="#" title=place1)=place1

      if (color)
        .coupon-gallery__card.card.card--gray-img
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="#" title=title1)=title1

          .card__meta
            a.card__category.card__category--in-site(href="#" title=category1)=category1
            a.card__dealer.card__dealer--in-site(href="#" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place.card__place--in-site(href="#" title=place1)=place1

      if (!color)
        .coupon-gallery__card.card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="#" title=title1)=title1

          .card__meta
            a.card__category.card__category--in-category(href="#" title=category1)=category1
            a.card__dealer.card__dealer--in-category(href="#" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place.card__place--in-category(href="#" title=place1)=place1

      if (color)
        .coupon-gallery__card.card.card--gray-img
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title2)

          span.card__sale до&nbsp;
            span=sale2
          span.card__price.card__price--green от&nbsp;
            span=price2

          a.card__link(href="#" title=title2)=title2

          .card__meta
            a.card__category.card__category--in-site(href="#" title=category2)=category2
            a.card__dealer.card__dealer--in-site(href="#" title=dealer2)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer2
            a.card__place.card__place--in-site(href="#" title=place2)=place2

      a.coupon-gallery__btn.main-content__btn.btn(href="#")
        | Поиск в <br>других <br>категориях



