mixin card(title, sale, price, category, category_set, dealer, dealer_set, place, place_set)
  .card
    .card__img-wrap
      img.card__img(src="http://via.placeholder.com/336x231", alt=title)

    span.card__sale до&nbsp;
      span=sale
    span.card__price от&nbsp;
      span=price

    h2.card__title
      a.card__link(href="#" title=title)=title

    .card__meta
      if (category_set)
        a.card__category(href="#" title=category)=category

      if (dealer_set)
        a.card__dealer(href="#" title=dealer)
          svg.card__dealer-link
            use(xlink:href="img/sprite-svg.svg#card__dealer-link")
          span=dealer

      if (place_set)
        a.card__place(href="#" title=place)=place
