mixin main-content-index()

  .tab-content
    .main-content#byPlitka.tab-pane.fade.active(role="tabpanel" aria-labelledby="byPlitkaTab")
      .main-content__inner

        -
          var title1 = "Скидка до 50% на первое посещение бассейна Скидка до 50% на первое посещение бассейна"
          var title2 = "Скидка до 30% на первое посещение бассейна"
          var sale1 = "50%"
          var sale2 = "30%"
          var price1 = "400 руб."
          var price2 = "Бесплатно!"

          var category1 = "Фитнес-центры"
          var category2 = "Фитнес-центры"
          var dealer1 = "Frendi"
          var dealer2 = "Frendi"
          var place1 = "Аквапарк «Родео Драйв»"
          var place2 = "Аквапарк «Родео Драйв»"

        .card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="coupon_admin.html" title=title1)=title1

          .card__meta
            a.card__category(href="category_admin.html" title=category1)=category1
            a.card__dealer(href="site_admin.html" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place(href="place_admin.html" title=place1)=place1

        .card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title2)

          span.card__sale до&nbsp;
            span=sale2
          span.card__price.card__price--green от&nbsp;
            span=price2

          a.card__link(href="coupon_admin.html" title=title2)=title2

          .card__meta
            a.card__category(href="category_admin.html" title=category2)=category2
            a.card__dealer(href="site_admin.html" title=dealer2)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer2
            a.card__place(href="place_admin.html" title=place2)=place2

        +advert("Реклама")
        +subscribe()

        .card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title1)

          span.card__sale до&nbsp;
            span=sale1
          span.card__price от&nbsp;
            span=price1

          a.card__link(href="coupon_admin.html" title=title1)=title1

          .card__meta
            a.card__category(href="category_admin.html" title=category1)=category1
            a.card__dealer(href="site_admin.html" title=dealer1)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer1
            a.card__place(href="place_admin.html" title=place1)=place1

        .card
          a.card__img-wrap(href="#")
            img.card__img(width="336" height="231" src="img/card__photo.jpg", alt=title2)

          span.card__sale до&nbsp;
            span=sale2
          span.card__price.card__price--green от&nbsp;
            span=price2

          a.card__link(href="coupon_admin.html" title=title2)=title2

          .card__meta
            a.card__category(href="category_admin.html" title=category2)=category2
            a.card__dealer(href="site_admin.html" title=dealer2)
              svg.card__dealer-link(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#card__dealer-link")
              span=dealer2
            a.card__place(href="place_admin.html" title=place2)=place2

      .main-content__btn-block
        a.main-content__btn.btn(href="#") Показать еще...

      .main-content__pagination-block
        .main-content__pagination
          +pagination()

    .main-content#onMap.tab-pane.fade(role="tabpanel" aria-labelledby="onMapTab")

      .main-content__body.main-content__address-tab
        #map.main-content__address-map

        .main-content__address-block
          .main-content__address-img-wrap
            img.main-content__address-img(src="http://via.placeholder.com/212x88" alt="img" width="212" height="88")
          span.main-content__address-info
          h2.main-content__address-title
            | Итальянский ресторан Il Patio
          a.btn.main-content__address-btn(href="#")
            | Подробнее о месте
          .main-content__address-meta
            svg.main-content__address-meta-icon(width="14" height="14")
              use(xlink:href="img/sprite-svg.svg#coupon__address-clock-icon")
            span.main-content__address-meta-desc
              | Пн-Вс, 08:00-22:00
          .main-content__address-meta
            svg.main-content__address-meta-icon(width="14" height="14")
              use(xlink:href="img/sprite-svg.svg#coupon__address-phone-icon")
            a.main-content__address-meta-desc(href="tel:+78121234567")
              | +7 (812) 123-45-67
          .main-content__address-meta
            svg.main-content__address-meta-icon(width="13" height="18")
              use(xlink:href="img/sprite-svg.svg#coupon__address-map-icon")
            span.main-content__address-meta-desc
              | пр. Культуры, 1, Москва
